.g {
  box-sizing: border-box;
  display: flex;
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  &.g--middle {
      align-items: center;
  }

  &.g--center {
      justify-content: center;
  }

  &.g--flat {
      * {
          margin-top: 0;
      }
  }
}

.g__xs,
.g__xs-1,
.g__xs-2,
.g__xs-3,
.g__xs-4,
.g__xs-5,
.g__xs-6,
.g__xs-7,
.g__xs-8,
.g__xs-9,
.g__xs-10,
.g__xs-11,
.g__xs-12,
.g__xs-offset-0,
.g__xs-offset-1,
.g__xs-offset-2,
.g__xs-offset-3,
.g__xs-offset-4,
.g__xs-offset-5,
.g__xs-offset-6,
.g__xs-offset-7,
.g__xs-offset-8,
.g__xs-offset-9,
.g__xs-offset-10,
.g__xs-offset-11,
.g__xs-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
  margin-top: $p16;

  &:first-child {
      margin-top: 0;
  }
}

.g__xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.g__xs-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.g__xs-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.g__xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.g__xs-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.g__xs-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.g__xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.g__xs-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.g__xs-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.g__xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.g__xs-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.g__xs-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.g__xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.g__xs-offset-0 {
  margin-left: 0;
}

.g__xs-offset-1 {
  margin-left: 8.33333333%;
}

.g__xs-offset-2 {
  margin-left: 16.66666667%;
}

.g__xs-offset-3 {
  margin-left: 25%;
}

.g__xs-offset-4 {
  margin-left: 33.33333333%;
}

.g__xs-offset-5 {
  margin-left: 41.66666667%;
}

.g__xs-offset-6 {
  margin-left: 50%;
}

.g__xs-offset-7 {
  margin-left: 58.33333333%;
}

.g__xs-offset-8 {
  margin-left: 66.66666667%;
}

.g__xs-offset-9 {
  margin-left: 75%;
}

.g__xs-offset-10 {
  margin-left: 83.33333333%;
}

.g__xs-offset-11 {
  margin-left: 91.66666667%;
}

@include media-sm-up {

  .g__sm,
  .g__sm-1,
  .g__sm-2,
  .g__sm-3,
  .g__sm-4,
  .g__sm-5,
  .g__sm-6,
  .g__sm-7,
  .g__sm-8,
  .g__sm-9,
  .g__sm-10,
  .g__sm-11,
  .g__sm-12,
  .g__sm-offset-0,
  .g__sm-offset-1,
  .g__sm-offset-2,
  .g__sm-offset-3,
  .g__sm-offset-4,
  .g__sm-offset-5,
  .g__sm-offset-6,
  .g__sm-offset-7,
  .g__sm-offset-8,
  .g__sm-offset-9,
  .g__sm-offset-10,
  .g__sm-offset-11,
  .g__sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
  }

  .g__sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .g__sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .g__sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .g__sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .g__sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .g__sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .g__sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .g__sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .g__sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .g__sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .g__sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .g__sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .g__sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .g__sm-offset-0 {
    margin-left: 0;
  }

  .g__sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .g__sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .g__sm-offset-3 {
    margin-left: 25%;
  }

  .g__sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .g__sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .g__sm-offset-6 {
    margin-left: 50%;
  }

  .g__sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .g__sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .g__sm-offset-9 {
    margin-left: 75%;
  }

  .g__sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .g__sm-offset-11 {
    margin-left: 91.66666667%;
  }
}

@include media-md-up {

  .g__md,
  .g__md-1,
  .g__md-2,
  .g__md-3,
  .g__md-4,
  .g__md-5,
  .g__md-6,
  .g__md-7,
  .g__md-8,
  .g__md-9,
  .g__md-10,
  .g__md-11,
  .g__md-12,
  .g__md-offset-0,
  .g__md-offset-1,
  .g__md-offset-2,
  .g__md-offset-3,
  .g__md-offset-4,
  .g__md-offset-5,
  .g__md-offset-6,
  .g__md-offset-7,
  .g__md-offset-8,
  .g__md-offset-9,
  .g__md-offset-10,
  .g__md-offset-11,
  .g__md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
  }

  .g__md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .g__md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .g__md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .g__md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .g__md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .g__md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .g__md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .g__md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .g__md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .g__md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .g__md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .g__md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .g__md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .g__md-offset-0 {
    margin-left: 0;
  }

  .g__md-offset-1 {
    margin-left: 8.33333333%;
  }

  .g__md-offset-2 {
    margin-left: 16.66666667%;
  }

  .g__md-offset-3 {
    margin-left: 25%;
  }

  .g__md-offset-4 {
    margin-left: 33.33333333%;
  }

  .g__md-offset-5 {
    margin-left: 41.66666667%;
  }

  .g__md-offset-6 {
    margin-left: 50%;
  }

  .g__md-offset-7 {
    margin-left: 58.33333333%;
  }

  .g__md-offset-8 {
    margin-left: 66.66666667%;
  }

  .g__md-offset-9 {
    margin-left: 75%;
  }

  .g__md-offset-10 {
    margin-left: 83.33333333%;
  }

  .g__md-offset-11 {
    margin-left: 91.66666667%;
  }
}

@include media-lg-up {

  .g__lg,
  .g__lg-1,
  .g__lg-2,
  .g__lg-3,
  .g__lg-4,
  .g__lg-5,
  .g__lg-6,
  .g__lg-7,
  .g__lg-8,
  .g__lg-9,
  .g__lg-10,
  .g__lg-11,
  .g__lg-12,
  .g__lg-offset-0,
  .g__lg-offset-1,
  .g__lg-offset-2,
  .g__lg-offset-3,
  .g__lg-offset-4,
  .g__lg-offset-5,
  .g__lg-offset-6,
  .g__lg-offset-7,
  .g__lg-offset-8,
  .g__lg-offset-9,
  .g__lg-offset-10,
  .g__lg-offset-11,
  .g__lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
  }

  .g__lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .g__lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .g__lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .g__lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .g__lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .g__lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .g__lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .g__lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .g__lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .g__lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .g__lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .g__lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .g__lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .g__lg-offset-0 {
    margin-left: 0;
  }

  .g__lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .g__lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .g__lg-offset-3 {
    margin-left: 25%;
  }

  .g__lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .g__lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .g__lg-offset-6 {
    margin-left: 50%;
  }

  .g__lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .g__lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .g__lg-offset-9 {
    margin-left: 75%;
  }

  .g__lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .g__lg-offset-11 {
    margin-left: 91.66666667%;
  }
}
