.image--size-100 {
    width: 100px!important;
}

.image--size-150 {
    width: 150px!important;
}

.image--size-200 {
    width: 200px!important;
}

.image--size-full-width {
    width: 100%!important;
}

.image--round {
    border-radius: 50%;
}
